:root{
  --bg:#0f172a;
  --tbar: #1e293b;
  --acc:#67e8f9;
  --tit:#2563eb;
  --txt:#f8fafc;
  --sect:#1e293b;
  --hligt:#22c55e;
}
body{
  background-color: var(--bg);
}
.expit{
  border-radius: 20px;
  background-color: var(--sect);
}
#titlebar{
  display: grid;
  grid-template-columns: 70% 10% 10% 10%;
  height: 100px;
  background-color: var(--tbar);
}
.titcon{
  align-self: center;
  font-family: "Source Code Pro";
  color: var(--acc);
  text-decoration: none;
  transition: font-size 0.3s ease;
}
#logo{
  height:100px;
  margin-left: 20px;
}
