:root{
  --bg:#0f172a;
  --tbar: #1e293b;
  --acc:#67e8f9;
  --tit:#2563eb;
  --txt:#f8fafc;
  --sect:#1e293b;
  --hligt:#60a5fa;
  --ftit: "Space Mono";
  --fpar: "Jetbrains Mono";
}
#logo{
  height:100px;
  margin-left: 20px;
}
#avatar{
  display: flex;
  height: 500px;
  justify-content: center;
  padding: 30px;
}
#avimg{
  height:550px;
  border-radius: 720px;
  border: 5px solid;
  border-color: var(--acc);
}
#traits{
  color: var(--acc);
  text-align: center;
  font-family: var(--ftit);
  height: 40px;
}
#tr{
  text-align: center;
  color: var(--txt);
  font-family: var(--ftit);
}
#titlebar{
  display: grid;
  grid-template-columns: 70% 10% 10% 10%;
  height: 100px;
  background-color: var(--tbar);
}
.titcon{
  align-self: center;
  font-family: var(--fpar);
  color: var(--acc);
  text-decoration: none;
  transition: font-size 0.3s ease;  
}
.titcon:hover{
  font-size: 20px;
  filter: grayscale(0%) brightness(120%);
}
h1{
  color: var(--tit);
  font-family: var(--ftit);
  font-size: 60px;
  text-align: center;
}
#am{
  font-size: 40px;
  font-family:var(--fpar); 
  color: var(--acc);
}
#bio{
  display: grid;
  grid-template-columns: 70% 30%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 80px;
  place-items: center;
  background-color: var(--sect);
  border-radius: 30px;
}
#desc{
  margin-top: 40px;
  margin-left: 20px;
  color: var(--txt);
  line-height: 40px;
  text-align: center;
  font-family: "Source Code Pro";
}
#pfp{
  height:200px;
  width:200px;
  border-radius: 200px;
}
body{
  background-color: var(--bg);
}
#time{
  margin-top: 60px;
  background-color: var(--sect);
  border-radius: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 80px;
  padding: 30px;
}
.ti{
  color: var(--txt);
  font-family: var(--ftit);
  padding: 40px;
}
#time ul li{
  list-style: circle inside;
}
#tite{
  font-family: var(--fpar);
  font-size: 30px;
  color: var(--acc);
}
::selection{
  background-color: var(--hligt);
}
#exp{
  background-color: var(--sect);
  border-radius: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px 500px;
  margin-top: 100px;
  margin-right: 40px;
  margin-left: 40px;
  gap: 1rem;
  place-items: center;
  padding: 30px;
}
#tit{
  color: var(--tit);
  font-family: var(--ftit);
  font-size: 60px;
  text-align: center;
  text-decoration: solid underline var(--hligt) 3px;
}
.expit{
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: auto;
  border-color: var(--acc);
}
.imgcon{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
}
.logtit{
  font-family: var(--ftit);
  text-align: center;
  color: var(--tit);
}
.logpara{
  font-family: var(--fpar);
  text-align: center;
  color: var(--txt);
  margin: 0;
  padding: 0;
}
#proj{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
  place-items: center;
  gap: 100px;
}
.proji{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--sect);
  padding: 70px;
  border-radius: 10px;
  height: 300px;
  justify-content: center;
}
.logtit a:link,
.logtit a:visited{
  color: var(--tit);
  text-decoration: none;
}
.logtit a:hover{
  color: var(--acc);
}
.link{
  display: flex;
  background-color: var(--sect);
  height: 80px;
  margin: 30px;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
  justify-content: center;
  font-family: var(--fpar);
  transition: cubic-bezier(.4,0,.2,1) 0.3s;
  color: var(--txt);
  border-radius: 10px;
  gap: 100px;
}
.link:hover{
  background-color: var(--acc);
  margin-left: 22px;
  margin-right: 22px;
  font-size: 120%;
}
.link a:link,
.link a:visited{
  color: var(--txt);
  text-decoration: none;
}

@media screen and (max-width: 1080px){
	#logo{
	  height:100px;
	  margin-left: 20px;
	}
	#avatar{
	  display: flex;
	  height: 500px;
	  justify-content: center;
	  padding: 30px;
	}
	#avimg{
	  height:550px;
	  border-radius: 720px;
	  border: 5px solid;
	  border-color: var(--acc);
	}
	#traits{
	  color: var(--acc);
	  text-align: center;
	  font-family: var(--ftit);
	  height: 40px;
	}
	#tr{
	  text-align: center;
	  color: var(--txt);
	  font-family: var(--ftit);
	}
	#titlebar{
	  display: grid;
	  grid-template-columns: 70% 10% 10% 10%;
	  height: 100px;
	  background-color: var(--tbar);
	}
	.titcon{
	  align-self: center;
	  font-family: var(--fpar);
	  color: var(--acc);
	  text-decoration: none;
	  transition: font-size 0.3s ease;  
	}
	.titcon:hover{
	  font-size: 20px;
	  filter: grayscale(0%) brightness(120%);
	}
	h1{
	  color: var(--tit);
	  font-family: var(--ftit);
	  font-size: 60px;
	  text-align: center;
	}
	#am{
	  font-size: 40px;
	  font-family:var(--fpar); 
	  color: var(--acc);
	}
	#bio{
	  display: grid;
	  grid-template-columns: 70% 30%;
	  margin-left: 40px;
	  margin-right: 40px;
	  margin-top: 80px;
	  place-items: center;
	  background-color: var(--sect);
	  border-radius: 30px;
	}
	#desc{
	  margin-top: 40px;
	  margin-left: 20px;
	  color: var(--txt);
	  line-height: 40px;
	  text-align: center;
	  font-family: "Source Code Pro";
	}
	#pfp{
	  height:200px;
	  width:200px;
	  border-radius: 200px;
	}
	body{
	  background-color: var(--bg);
	}
	#time{
	  margin-top: 60px;
	  background-color: var(--sect);
	  border-radius: 30px;
	  margin-left: 40px;
	  margin-right: 40px;
	  margin-top: 80px;
	  padding: 30px;
	}
	.ti{
	  color: var(--txt);
	  font-family: var(--ftit);
	  padding: 40px;
	}
	#time ul li{
	  list-style: circle inside;
	}
	#tite{
	  font-family: var(--fpar);
	  font-size: 30px;
	  color: var(--acc);
	}
	::selection{
	  background-color: var(--hligt);
	}
	#exp{
	  background-color: var(--sect);
	  border-radius: 40px;
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-template-rows: 500px 500px;
	  margin-top: 100px;
	  margin-right: 40px;
	  margin-left: 40px;
	  gap: 1rem;
	  place-items: center;
	  padding: 30px;
	}
	#tit{
	  color: var(--tit);
	  font-family: var(--ftit);
	  font-size: 60px;
	  text-align: center;
	  text-decoration: solid underline var(--hligt) 3px;
	}
	.expit{
	  display: flex;
	  flex-direction: column;
	  padding: 30px;
	  justify-content: center;
	  align-items: center;
	  gap: 20px;
	  margin: auto;
	  border-color: var(--acc);
	}
	.imgcon{
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  gap: 20px;
	  justify-content: center;
	}
	.logtit{
	  font-family: var(--ftit);
	  text-align: center;
	  color: var(--tit);
	}
	.logpara{
	  font-family: var(--fpar);
	  text-align: center;
	  color: var(--txt);
	  margin: 0;
	  padding: 0;
	}
	#proj{
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;
	  padding: 30px;
	  place-items: center;
	  gap: 100px;
	}
	.proji{
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  background-color: var(--sect);
	  padding: 70px;
	  border-radius: 10px;
	  height: 300px;
	  justify-content: center;
	}
	.logtit a:link,
	.logtit a:visited{
	  color: var(--tit);
	  text-decoration: none;
	}
	.logtit a:hover{
	  color: var(--acc);
	}
	.link{
	  display: flex;
	  background-color: var(--sect);
	  height: 80px;
	  margin: 30px;
	  margin-left: 100px;
	  margin-right: 100px;
	  align-items: center;
	  justify-content: center;
	  font-family: var(--fpar);
	  transition: cubic-bezier(.4,0,.2,1) 0.3s;
	  color: var(--txt);
	  border-radius: 10px;
	  gap: 100px;
	}
	.link:hover{
	  background-color: var(--acc);
	  margin-left: 22px;
	  margin-right: 22px;
	  font-size: 120%;
	}
	.link a:link,
	.link a:visited{
	  color: var(--txt);
	  text-decoration: none;
	}
}
