
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Timeline</title>
    <link rel="icon" type="img/xml+svg" href="{{ url_for('static', filename='img/H.svg') }}" />
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="titlebar" style="margin-top: 20px;">
      <nav>
        <a href="{{ url_for('home') }}"><img id="logo" src="{{ url_for('static', filename='img/H.svg') }}" alt="logo.svg" /></a>
        <a class="titcon" href="{{ url_for('home') }}">Home</a>
        <a class="titcon" href="{{ url_for('exp') }}">Experience</a>
        <a class="titcon" href="{{ url_for('soc') }}">Socials</a>
        <div class="ddc">
          <button><img id="dd" src="{{ url_for('static', filename='img/tl.svg') }}" alt="ddbox" /></button>
          <div class="mtitcon">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('exp') }}">Experience</a>
            <a href="{{ url_for('soc') }}">Socials</a>
          </div>
        </div>
      </nav>
    </div>
    <h1 id="tit">Timeline</h1>
    <div id="time">
      <ul style="grid-column-start: 1; grid-column-end:3">
        {% for entry in ent %}
        <li style="list-style: circle; color: var(--acc);">
          <h2 style="font-family: var(--ftit); color: var(--tit)">{{ entry.title }}</h2>
          <h4 style="font-family: var(--fpar); color: var(--acc)">{{ entry.time }}</h4>
          <p style="color: var(--txt); font-family: var(--fpar)">{{ entry.desc }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
    <footer style="margin-left: 40px; margin-right: 40px">
      <h2 style="color: var(--acc); font-family: var(--ftit); text-align: left; font-size: 30px">&lt;/Hareekshith&gt;</h2>
    </footer>
  </body>
</html>

