<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hareekshith</title>
    {% load static %}
    <link rel="icon" type="img/xml+svg" href="{% static 'img/H.svg' %}">
    <link href="{% static 'style.css' %}" rel="stylesheet"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">    
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="titlebar">
      <img id="logo" src="{% static 'img/H.svg' %}" alt="logo.svg">
      <a class="titcon" href="{% url 'home' %}">Home</a>
      <a class="titcon" href="{% url 'exp' %}">Experience</a>
      <a class="titcon" href="{% url 'soc' %}">Socials</a>
    </div>
    <h1 id="tit">Experience</h1>
    <div id="exp">
      <div class="expit">
        <div class="imgcon">
          <img src="{% static 'img/git.svg' %}" alt="git" style="width: 90px; height: auto;">
          <img src="{% static 'img/gh.svg' %}" alt="gh" style="width: 90px; height: auto;">
          <img src="{% static 'img/nvim.svg' %}" alt="nvim" style="width: 90px; height: auto;grid-column: 1 / span 2; justify-self: center;">
        </div>
           <h2 class="logtit">Code</h2>
        <p class="logpara">Programming is my favorite, making these tools my partners in crime!<br><br><span style="color: var(--acc);">Git, Github, Neovim</span></p>   
      </div>
      <div class="expit">
        <div class="imgcon">
          <img src="{% static 'img/cpp.svg' %}" alt="cpp" style="width: 90px; height: auto;">
          <img src="{% static 'img/java.svg' %}" alt="java" style="width: 90px; height: auto;">
          <img src="{% static 'img/python.svg' %}" alt="py" style="width: 90px; height: auto; grid-column: 1 / span 2; justify-self: center;">
        </div>
        <h2 class="logtit">Programming</h2>
        <p class="logpara">The most addictive part of my job, coding, I would do it all-day-everyday!<br><br><span style="color: var(--acc);">C++, Java, Python</span></p>
      </div>
      <div class="expit">
        <div class="imgcon">
          <img src="{% static 'img/html.svg' %}" alt="html" style="width: 90px; height: auto;">
          <img src="{% static 'img/css.svg' %}" alt="css" style="width: 90px; height: auto;">
          <img src="{% static 'img/node.svg' %}" alt="js" style="width: 90px; height: auto;grid-column: 1 / span 2; justify-self: center;">
        </div>
        <h2 class="logtit">Frontend</h2>
        <p class="logpara">This design of website, done by these!! I am still learning these<br><br><span style="color: var(--acc);">HTML, CSS, JS</span></p> 
      </div>
      <div class="expit">
        <img src="{% static 'img/dj.svg' %}" alt="dj" style="width: 90px; height: auto;">
        <h2 class="logtit">Backend</h2>
        <p class="logpara">The crucial part of hosting website and displaying datas, backend is required!<br><br><span style="color: var(--acc);">Django</span></p>
      </div>
      <div class="expit">
        <div class="imgcon">
          <img src="{% static 'img/mongo.svg' %}" alt="md" style="width: 90px; height: auto;">
          <img src="{% static 'img/mysql.svg' %}" alt="ms" style="width: 90px; height: auto;">
        </div>
        <h2 class="logtit">Database</h2>
        <p class="logpara">I love data, and love even more where I can manage them!<br><br><span style="color: var(--acc);">MongoDB, MySQL</span></p>    
      </div>
      <div class="expit">
        <div class="imgcon">
          <img src="{% static 'img/canva.svg' %}" alt="canv" style="width: 90px; height: auto;">
          <img src="{% static 'img/inkscape.svg' %}" alt="inks" style="width: 90px; height: auto;">
          <img src="{% static 'img/figma.svg' %}" alt="fig" style="width: 90px; height: auto;grid-column: 1 / span 2; justify-self: center;">
        </div> 
        <h2 class="logtit">Design and graphics</h2>
        <p class="logpara">DIY tools, where you put your heart and soul into! The reason why I love this!<br><br><span style="color: var(--acc);">Canva, Inkspace, Figma</span></p>
      </div>
    </div>
    <h1 id="tit">Projects</h1>
    <div id="proj">
      <div class="proji">
        <img src="{% static 'img/poster_final.png' %}" alt="keylogger" style="height: 200px; width: auto; border-radius: 20px;">
        <h2 class="logtit"><a href="https://github.com/Hareekshith/keylogger-detection">Keylogger Detector</a></h2>
        <p class="logpara">A utility, developed only for linux(for now) to detect keyloggers based on Heuristics</p>
      </div>
      <div class="proji">
        <img src="{% static 'img/teeds.png' %}" alt="TEED-TS" style="width: 400px; height: auto; border-radius: 20px;">
        <h2 class="logtit"><a href="https://github.com/ERROR-SIDDH/TEED-TS-WEB">TEED-TS-WEB</a></h2>
        <p class ="logpara">A full-stack project which detects and displays entry and exit logs with data visualizations</p>
      </div>
    </div>
    <script src="{% static 'script.js' %}" defer></script>
  </body>
</html>
